[user]
	name = jtrdt
	email =
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	ignorecase = false
[rebase]
	autosquash = true
[push]
	default = simple
    autoSetupRemote = true
[pull]
	rebase = false
[merge]
	tool = nvimdiff
